h1{
    border-bottom: 2px solid gray;
    color: palevioletred;
    font-family: 'Permanent Marker', cursive;
    font-size:3em;
    text-align: center;
    text-transform: full-width;
    width: 30%;
    
}

img{
    display: inline-block;
    margin: 1.66%;
    width: 25%;
    height: 200px;
}